################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01HelloVilag/bin
/01HelloVilag/obj
